<mat-card>
  <mat-card-header>
    <mat-card-title>Mappings Document</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <ngx-monaco-editor
        style="min-height: 800px"
        [options]="editorOptions"
        [formControl]="json"
      ></ngx-monaco-editor>
    </form>
    <div class="form-row">
      <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="exportToDocument()"
      >
        <mat-icon>file_download</mat-icon>
        export in doc
      </button>
      <button
        type="submit"
        mat-flat-button
        color="warn"
        [disabled]="form.invalid"
        (click)="importFromDocument()"
      >
        <mat-icon>file_upload</mat-icon>
        import from doc
      </button>
    </div>
  </mat-card-content>
</mat-card>
